body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
}

h1 {
    background:  lightgrey;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black;
    border-radius: 2px;
    height: 320px;
    width: 320px;
}

.pixel {
    display: flex;
    background-color: white;
    padding: 10px;
    align-items: stretch;    
}
