body {
    display: flex;
    min-height: 98vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}

#headerCanvasButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background:  lightgrey;
    padding: 20px;
    border-radius: 10px;
}

#gridContainer {
  display:inline-flex;
  flex-wrap:wrap;
  flex-direction:column;
  width:40vw;
  height:40vw;
  min-width:400px;
  min-height:400px;
  background-color:white;
  box-shadow:0px 0px 12px 3px rgb(37, 37, 37);
  margin:auto;
}

.row {
    display: flex;
    flex: 2;
  
}
.col {
    display: flex;
    flex: auto;
}

#buttonContainer {
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
    border-radius: 5px;
}

